<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pes.darkaether0x1.pos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity android:name=".ActivityS7" />
        <activity android:name=".Transactions" />
        <activity android:name=".ActivityS4" />
        <activity android:name=".InvoiceActivity" />
        <activity android:name=".ActivityS6" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityS5" />
        <activity android:name=".ActivityS1" />

        <receiver android:name=".Sale_Service"></receiver>
    </application>

</manifest>